################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/pmv-ads-2023-2-e2-proj-int-t6-lifedrop/FileContentIndex/0888ab80-e4e6-44fd-ae84-f11af9817602.vsidx
/.vs/pmv-ads-2023-2-e2-proj-int-t6-lifedrop/FileContentIndex/43c8ef4e-ba0e-4a5b-95a9-f4d94272f16a.vsidx
/.vs/pmv-ads-2023-2-e2-proj-int-t6-lifedrop/FileContentIndex/84280288-798e-496a-9b15-a50cd72be2a5.vsidx
/.vs/pmv-ads-2023-2-e2-proj-int-t6-lifedrop/FileContentIndex/cbd57731-0757-42fe-be1d-57a2c92bf584.vsidx
