@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<body>
    <div>
        <section class="section">
            <section class="container mt-5">
                <div class="row">
                    <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 ">

                        <div class="card card-primary">
                            <div class="card-header text-center">
                                <h4>Recupere sua senha</h4>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col m-3">
                                    <form>
                                        <div class="row justify-content-center">
                                            <div class="w-80 mb-3">
                                                <input type="email" class="form-control" name="email" placeholder="E-mail cadastrado" required id="E-mail">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="w-80 mb-2 align-items-center text-center">
                                                <button type="submit" class="btn btn-primary w-50">ENVIAR</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</body>