html {
    font-size: 14px;
}


header {
    background: #F2F2F2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

#logoMenu {
    width: 107px;
    height: 71px;
    left: 100px;
    position: relative;
}



.navbar-collapse {
    left: 450px;
    position: relative;
    top: 10px;
}

li {
    margin-right: 100px;
}

.custom-shadow {
    transition: box-shadow 0.3s; 
}

    .custom-shadow:hover {
        box-shadow: 0 0 8px #004AAD; 
        border-radius: 15px;
    }


.custom-shadow-red {
    transition: box-shadow 0.3s; 
}

    .custom-shadow-red:hover {
        box-shadow: 0 0 8px #DA2F47; 
        border-radius: 15px;
    }


#ulAdm {
    left: 230px;
    position:relative;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
