@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <style>
        body {
            background-color: #f3f4f4;
        }

        h1 {
            color: #014AAD;
            margin: 0px 15px 30px 15px;
        }

        table {
            margin: 25px 20px 25px 20px;
            width: 1260px;
            height: 160px;
            background-color: white;
            border-radius: 15px;
            border-collapse: separate;
            border-spacing: 15px;
        }

        .div_table {
            background-color: white;
            border-radius: 15px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0.3px 0.9px, rgba(0, 0, 0, 0.13) 0px 1.6px 3.6px;
        }

        .switch {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 24px;
        }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 16px;
                width: 16px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: #5dc99f;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #5dc99f;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        .slider.round {
            border-radius: 35px;
        }

            .slider.round:before {
                border-radius: 50%;
            }
    </style>
</head>
<body>
    <h1>Agendamentos </h1>

    <div class="div_table">
        <table>
            <tr>
                <th>Dia:</th>
                <td>10/08/2023</td>
                <th>Horário:</th>
                <td>14:30</td>
                <th>Compareceu?</th>
                <td>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <th>Nome:</th>
                <td>Maria Eduarda Benício Alves Paiva</td>
                <th>Data de Nascimento:</th>
                <td>19/05/2002</td>
                <th>CPF:</th>
                <td>157.016.181-93</td>
            </tr>
            <tr>
                <th>Telefone:</th>
                <td>(33) 96178-8876</td>
                <th>E-mail:</th>
                <td>dudagatinha@gmail.com</td>
                <th>Tipo Sanguíneo:</th>
                <td>A+</td>
            </tr>
        </table>
    </div>
    <div class="div_table">
        <table>
            <tr>
                <th>Dia:</th>
                <td>10/08/2023</td>
                <th>Horário:</th>
                <td>14:30</td>
                <th>Compareceu?</th>
                <td>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <th>Nome:</th>
                <td>Maria Eduarda Benício Alves Paiva</td>
                <th>Data de Nascimento:</th>
                <td>19/05/2002</td>
                <th>CPF:</th>
                <td>157.016.181-93</td>
            </tr>
            <tr>
                <th>Telefone:</th>
                <td>(33) 96178-8876</td>
                <th>E-mail:</th>
                <td>dudagatinha@gmail.com</td>
                <th>Tipo Sanguíneo:</th>
                <td>A+</td>
            </tr>
        </table>
    </div>
    <div class="div_table">
        <table>
            <tr>
                <th>Dia:</th>
                <td>10/08/2023</td>
                <th>Horário:</th>
                <td>14:30</td>
                <th>Compareceu?</th>
                <td>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <th>Nome:</th>
                <td>Maria Eduarda Benício Alves Paiva</td>
                <th>Data de Nascimento:</th>
                <td>19/05/2002</td>
                <th>CPF:</th>
                <td>157.016.181-93</td>
            </tr>
            <tr>
                <th>Telefone:</th>
                <td>(33) 96178-8876</td>
                <th>E-mail:</th>
                <td>dudagatinha@gmail.com</td>
                <th>Tipo Sanguíneo:</th>
                <td>A+</td>
            </tr>
        </table>
    </div>
    <div class="div_table">
        <table>
            <tr>
                <th>Dia:</th>
                <td>10/08/2023</td>
                <th>Horário:</th>
                <td>14:30</td>
                <th>Compareceu?</th>
                <td>
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </td>
            </tr>
            <tr>
                <th>Nome:</th>
                <td>Maria Eduarda Benício Alves Paiva</td>
                <th>Data de Nascimento:</th>
                <td>19/05/2002</td>
                <th>CPF:</th>
                <td>157.016.181-93</td>
            </tr>
            <tr>
                <th>Telefone:</th>
                <td>(33) 96178-8876</td>
                <th>E-mail:</th>
                <td>dudagatinha@gmail.com</td>
                <th>Tipo Sanguíneo:</th>
                <td>A+</td>
            </tr>
        </table>
    </div>
</body>
