@model LifeDrop.Models.BancoDeSangue

@{
    ViewData["Title"] = "Create";
}

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<head>
    <style>
        /*Informações do banco de sangue*/
        .roww {
            position: absolute;
            top: 25%;
            left: 70%;
            width: 70%
        }

        #titulo-1 {
            position: absolute;
            left: 70%;
            top: 20%
        }

        .button-1 {
            position: absolute;
            left: 70%;
            top: 56%
        }

        /*Doacao Emergencial*/

        .box {
            position: absolute;
            top: 82%;
            right: 60%;
        }

        fieldset {
            white-space: nowrap;
            border: 3px solid;
            padding: 45px;
            padding-left: 124px;
            padding-right: 120px;
        }

        #titulo-2 {
            text-align: center;
            white-space: nowrap;
        }

        /*Informações do banco de sangue*/
        table {
            margin: 25px 20px 25px 20px;
            width: 1260px;
            height: 160px;
            background-color: white;
            border-radius: 15px;
            border-collapse: separate;
            border-spacing: 15px;
            table-layout: fixed;
        }

        .tb {
            position: absolute;
            top: 23%;
            right: 55%;
            background-color: #E0E0E0;
            border-radius: 10px;
            padding: 40px;
            padding-top: 1%;
            padding-bottom: 3%;
            padding-left: 20px;
            width: 500px;
        }


        #titulo-3 {
            position: absolute;
            right: 64%;
            top: 20%;
            white-space: nowrap;
        }

        .btn-p {
            position: absolute;
            right: 78%;
            top: 70%;
        }

    </style>
</head>

<body>

    <h3 id="titulo-1">Informações do banco de sangue</h3>
    <div class="roww">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NomeUnidade" class="control-label"></label>
                    <input asp-for="NomeUnidade" class="form-control" />
                    <span asp-validation-for="NomeUnidade" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefone" class="control-label"></label>
                    <input asp-for="Telefone" class="form-control" />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Endereco" class="control-label"></label>
                    <input asp-for="Endereco" class="form-control" />
                    <span asp-validation-for="Endereco" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Estado" class="control-label"></label>
                    <select asp-for="Estado" class="form-control" id="estado"></select>
                    <span asp-validation-for="Estado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Municipio" class="control-label"></label>
                    <select asp-for="Municipio" class="form-control" id="municipio"></select>
                    <span asp-validation-for="Municipio" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Adicionar" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-info">Voltar</a>
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function () {
            // Popula a lista de estados ao carregar a página
            $.getJSON('https://servicodados.ibge.gov.br/api/v1/localidades/estados', function (data) {
                var options = '<option value="">Selecione um estado</option>';
                $.each(data, function (key, value) {
                    options += '<option value="' + value.sigla + '">' + value.nome + '</option>';
                });
                $('#estado').html(options);
            });

            // Atualiza a lista de municípios quando um estado é selecionado
            $('#estado').change(function () {
                var estadoSigla = $(this).val();
                if (estadoSigla) {
                    $.getJSON('https://servicodados.ibge.gov.br/api/v1/localidades/estados/' + estadoSigla + '/municipios', function (data) {
                        var options = '<option value="">Selecione um município</option>';
                        $.each(data, function (key, value) {
                            options += '<option value="' + value.nome + '">' + value.nome + '</option>';
                        });
                        $('#municipio').html(options);
                    });
                } else {
                    $('#municipio').html('<option value="">Selecione um estado primeiro</option>');
                }
            });
        });
    </script>

    <div class="box">
        <h4 id="titulo-2">Solicitar doação emergencial</h4>
        <fieldset id="field">
            <legend>Tipo Sanguíneo</legend>
            <div>
                <br>
                <input type="text" value="" id="inputText">
                <br />
                <br />
                <input type="button" id="inputButton" value="Solicitar">
            </div>
            <br>
        </fieldset>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var inputButton = document.getElementById("inputButton");

            inputButton.addEventListener("click", function () {
                var inputValue = document.getElementById("inputText").value;

                if (inputValue.trim() !== "") {
                    localStorage.setItem("meuDado", inputValue);
                    console.log("Dado armazenado na localStorage: " + inputValue);
                    // window.location.href = "@Url.Action("Index", "BancosDeSangue")";
                    alert("Solicitação enviada para o perfil do doador: " + inputValue);
                } else {
                    alert("Por favor, insira um valor antes de enviar para outra página.");
                }
            });
        });
    </script>




    <h3 id="titulo-3">Posto de Coleta</h3>
    <form asp-action="Create" method="post">
        <table class="tb">
            <tr>
                <th>Tipo Sanguíneo</th>
                <th>Estoque</th>
            </tr>
            <tr>
                <td><strong>O+</strong></td>
                <td>
                    <select asp-for="O_Positive" class="selectEstoque">
                        <option value="Critico">Crítico</option>
                        <option value="Adequado">Adequado</option>
                        <option value="Alerta">Alerta</option>
                        <option value="Estavel">Estável</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><strong>O-</strong></td>
                <td>
                    <select asp-for="O_Negative" class="selectEstoque">
                        <option value="Critico">Crítico</option>
                        <option value="Adequado">Adequado</option>
                        <option value="Alerta">Alerta</option>
                        <option value="Estavel">Estável</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><strong>A+</strong></td>
                <td>
                    <select asp-for="A_Positive" class="selectEstoque">
                        <option value="Critico">Crítico</option>
                        <option value="Adequado">Adequado</option>
                        <option value="Alerta">Alerta</option>
                        <option value="Estavel">Estável</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><strong>A-</strong></td>
                <td>
                    <select asp-for="A_Negative" class="selectEstoque">
                        <option value="Critico">Crítico</option>
                        <option value="Adequado">Adequado</option>
                        <option value="Alerta">Alerta</option>
                        <option value="Estavel">Estável</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><strong>B+</strong></td>
                <td>
                    <select asp-for="B_Positive" class="selectEstoque">
                        <option value="Critico">Crítico</option>
                        <option value="Adequado">Adequado</option>
                        <option value="Alerta">Alerta</option>
                        <option value="Estavel">Estável</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><strong>B-</strong></td>
                <td>
                    <select asp-for="B_Negative" class="selectEstoque">
                        <option value="Critico">Crítico</option>
                        <option value="Adequado">Adequado</option>
                        <option value="Alerta">Alerta</option>
                        <option value="Estavel">Estável</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><strong>AB+</strong></td>
                <td>
                    <select asp-for="AB_Positive" class="selectEstoque">
                        <option value="Critico">Crítico</option>
                        <option value="Adequado">Adequado</option>
                        <option value="Alerta">Alerta</option>
                        <option value="Estavel">Estável</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><strong>AB-</strong></td>
                <td>
                    <select asp-for="AB_Negative" class="selectEstoque">
                        <option value="Critico">Crítico</option>
                        <option value="Adequado">Adequado</option>
                        <option value="Alerta">Alerta</option>
                        <option value="Estavel">Estável</option>
                    </select>
                </td>
            </tr>
        </table>
        <button type="submit" class="btn-p">Salvar</button>
    </form>  
  
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

