
@{
    ViewData["Title"] = "AccessDenied";
}

<div style="  display: flex; height:100px;
  justify-content: center; ">

    <h1>Acesso Negado</h1>

</div>
<div style="  display: flex; justify-content: center; ">

    <img src="~/images/acesso-negado.png" style=" width: 40%;" />

</div>
