@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1>Orientações para Doação de Sangue:</h1><hr />


                <ol>
                    <h3>
                    <li>Condições básicas:</li>
                    </h3>

                    <ul>
                        <p>
                        <li>
                            <b>Idade:</b> Verifique se você está na faixa etária elegível, geralmente entre 18 e
                            65
                            anos.
                            Regras podem variar de acordo com
                            as diretrizes locais.
                        <li><b>Peso:</b> Pesar mais de 51 quilos e ter IMC maior ou igual a 18,5.</li>
                        <li>
                            <b>Boa Saúde:</b> Garanta que você esteja em boa saúde no momento da doação. Se
                            estiver
                            doente,
                            espere até se recuperar.
                        </li>
                        <li>
                            <b>Medicação:</b> Informe a equipe de doação sobre qualquer medicamento que você
                            esteja
                            tomando.
                        </li>
                        <li><b>Descansar: </b>Dormir pelo menos seis horas, com qualidade, na noite anterior à doação;</li>
                        <li><b>Não beber: </b>Não ingerir bebida alcoólica nas 12 horas anteriores à doação;</li>
                        <li><b>Não fumar: </b>Não fumar duas horas antes da doação.</li>
                        </p>
                    </ul>

                    <h3>
                    <li>Alimentação:</li>
                    </h3>
                    <ul>
                        <p>
                        <li>
                            <b>Refeição Leve:</b> Coma uma refeição leve nas horas que antecedem a doação. Evite
                            refeições pesadas, ricas em gordura ou frituras.
                        <li><b>Hidratação:</b> Beba bastante água antes da doação para ficar bem hidratado.
                        <li><b>Evite Álcool:</b> Evite o consumo de álcool nas 24 horas anteriores à doação.</li>
                        </p>
                    </ul>
                    <h3>
                    <li>Documentos Necessários:</li>
                    </h3>
                    <ul>
                        <p>
                        <li>
                            <b>Documento de Identificação:</b> Apresentar documento oficial com foto, válido em
                            todo o
                            território naciona
                        </li>

                        </p>
                    </ul>
                    <h3>
                    <li>Situações que impedem provisoriamente a doação de sangue </li>
                    </h3>
                    <ul>
                        <p>
                        <li>Febre - acima de 37°C </li>
                        <li> Gripe ou resfriado</li>
                        <li> Gravidez atual (90 dias após o parto normal e de 180 dias após a cesariana)</li>
                        <li> Amamentação (até 1 ano após o parto)</li>
                        <li> Uso de alguns medicamentos</li>
                        <li> Anemia</li>
                        <li> Cirurgias</li>
                        <li> Extração dentária 7 dias</li>
                        <li>
                            Tatuagem ou piercing: 01 ano sem doar (Piercing na cavidade oral e/ ou região genital:
                            01 ano sem doar após a
                            retirada)
                        </li>
                        <li> Vacinação: o tempo de impedimento varia de acordo com o tipo de vacina</li>
                        <li> Transfusão de sangue: impedimento por 01 ano</li>
                        </p>
                    </ul>
                    <h3>
                    <li>
                        Intervalo Entre as doações
                    </li>
                    </h3>
                </ol>

                <table class="table table-bordered border-secundary">

                    <tr thead class="table-light">
                        <td><b>Sexo/Idade</b></td>
                        <td><b>Homens</b></td>
                        <td><b>Mulheres</b></td>
                        <td><b>60 a 67 anos</b></td>

                    </tr>
                    <tr>
                        <td class="table-light"><b>Intervalo</b></td>
                        <td>2 meses</td>
                        <td>3 meses</td>
                        <td>6 meses</td>
                    </tr>
                    <tr>
                        <td class="table-light"><b>Frequência(em 12 meses)</b></td>
                        <td>4 vezes</td>
                        <td>3 veses</td>
                        <td>2 vezes</td>
                    </tr>
                </table>
                <h1>Cuidados pós-doação de sangue</h1><hr />
                <ul>
                    <p>
                    <li>
                        Aguardar, no mínimo, uma hora para dirigir curtos percursos e duas horas para viagens;
                    </li>
                    <li>Não fumar por, no mínimo, duas horas;</li>
                    <li>Não pegar peso com o braço utilizado para a doação;</li>
                    <li>Não fazer exercício físico acentuado nas 12 horas subsequentes à doação (andar de bicicleta, carregar peso, fazer ginásticas, faxinas domésticas, lavar roupas a mão).</li>

                    </p>

                </ul>
            </div>
        </div>
</body>
